{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">

        <article class="row format-standard">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    {{post.title}}
                </h1>
                <ul class="s-content__header-meta">
                    <li class="date">{{post.publish}}</li>
                    <li class="cat">
                        In
                        <a>tags</a>
                    </li>
                </ul>
            </div> <!-- end s-content__header -->
    
            <div class="s-content__media col-full">
                <div class="s-content__post-thumb">
                    <img src="{{post.cover.url}}" alt="" >
                </div>
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">

                <p class="lead">{{post.body|linebreaks}}</p>
                
              <div class="s-content__author">
                    <img src="" alt="">

                    <div class="s-content__author-about">
                        <h4 class="s-content__author-name">
                            <a href="#0">{{post.author}}</a>
                        </h4>
                    </div>
                </div>
                 <div class="s-content__pagenav">
                    <div class="s-content__nav">
                        <div class="s-content__prev">
                        </div>
                        <div class="s-content__next">
                        </div>
                    </div>
                </div> <!-- end s-content__pagenav -->
        </article>
                        </div> <!-- end s-content__main -->
  
            <div class="comments-wrap">

            <div id="comments" class="row">
                <div class="col-full">
                    {% with comments.count as total_comments %}
                    <h3 class="h2">{{ total_comments }} comment {{ total_comments|pluralize }}</h3>
                    {% endwith %}
                    <!-- commentlist -->
                    <ol class="commentlist">
                        {% for comment in comments %}
                        <li class="depth-1 comment">
                            <div class="comment__content">
                                <div class="comment__info">
                                    <cite>{{ comment.name }}</cite>
                                    <div class="comment__meta">
                                        <time class="comment__time">{{ comment.created }}</time>
                                    </div>
                                </div>
                                <div class="comment__text">
                                <p>{{ comment.body|linebreaks }}</p>
                                </div>
                            </div>
                        </li> <!-- end comment level 1 -->
                        {% empty %}
                        <p>no comments yet.</p>
                        {% endfor %}
                    </ol> <!-- end commentlist -->
                    <!-- respond
                    ================================================== -->
                    <div class="respond">
                        {% if new_comment %}
                        <h3 class="h2">Your comment has been added.</h3>
                        {% else %}
                        <h3 class="h2">Add Comment</h3>
                        <form method="post" action=".">
                            <fieldset>
                                <div class="form-field">
                                        <input name="name" type="text" id="name" class="full-width" placeholder="Your Name" value="">
                                </div>
                                <div class="form-field">
                                        <input name="email" type="text" id="email" class="full-width" placeholder="Your Email" value="">
                                </div>
                                <div class="message form-field">
                                    <textarea name="body" id="body" class="full-width" placeholder="Your Message"></textarea>
                                </div>
                                {% csrf_token %}
                                <button type="submit" class="submit btn--primary btn--large full-width">Submit</button>
                            </fieldset>
                        </form> <!-- end form -->
                        {% endif %}
                    </div> <!-- end respond -->

                </div> <!-- end col-full -->

            </div> <!-- end row comments -->
        </div> <!-- end comments-wrap -->
   </section>
{% endblock %}