{% extends "blog/base.html" %}

{% block title %}TEJARONIC{% endblock %}

{% block content %}

 <section class="s-content">

        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>
                {% if tag %}
<h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}
{% for post in posts %}
<article class="masonry__brick entry format-standard" data-aos="fade-up">
                    <div class="entry__thumb">
                        <a href="single-standard.html" class="entry__thumb-link">
                            <img src="{{ post.cover.url }}" alt="">
                        </a>
                    </div>
                    <div class="entry__text">
                        <div class="entry__header">
                            <div class="entry__date">
                                <a href="{% url 'blog:post_detail' post.slug %}">{{ post.publish }}<br>by {{ post.author }}</a>
                            </div>
                            <h1 class="entry__title"><a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a></h1>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{ post.body|truncatewords:30|linebreaks }}
                            </p>
                        </div>
                        <!--
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">Design</a>
                                <a href="category.html">Photography</a>
                            </span>
                        </div>
                        -->
                    </div>
</article> <!-- end article -->
{% endfor %}
            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

 {% include "blog/pagination.html" with page=posts %}

    </section> <!-- s-content -->

<section class="s-extra">
        <div class="row bottom tags-wrap">
            <div class="col-full tags">
                <h3>Tags</h3>
                <div class="tagcloud">
                    {% for tag in tags %}
                    <a href="{% url 'blog:index' tag.slug %}">{{ tag.name }}</a>
                    {% endfor %}
                </div> <!-- end tagcloud -->
            </div> <!-- end tags -->
        </div> <!-- end tags-wrap -->

    </section> <!-- end s-extra -->

{% endblock %}
