<div class="row">
            <div class="col-full">
                <nav class="pgn">
                    <ul>
                        {% if page.has_previous %}
                        <li><a class="pgn__prev" href="?page={{ page.previous_page_number }}">Prev</a></li>
                        {% endif %}
                        <li><a class="pgn__num" href="">{{ page.number }}</a></li>
                        {% if page.has_next %}
                        <li><a class="pgn__next" href="?page={{ page.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>